@font-face {
  font-family: objectSansHeavy;
  src: url("./fonts/ObjectSans-Heavy.otf");
}

@font-face {
  font-family: objectSansReg;
  src: url("./fonts/ObjectSans-Regular.otf");
}

* {
  font-family: objectSansRegular, sans-serif;
}

.container {
  position: relative;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 25px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  position: relative;
  background-color: #0047ab;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: objectSansHeavy, sans-serif;
  font-size: 2.6em;
  border-radius: 5px;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  font-family: objectSansHeavy, sans-serif;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: #6a0dad;
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  width: 1024px;
  font-size: 3em;
  top: 250px;
  text-align: center;
  display: inline-block;
}

.playBtn {
  position: absolute;
  font-size: 1.4em;
  padding: 10px;
  top: 350px;
  border:0;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
}
.playBtn:hover{
  background-color: lightblue;
  color: black;
}
